BasedOnStyle: WebKit

IndentWidth: 4
AccessModifierOffset: -4

NamespaceIndentation: All
IndentPPDirectives: BeforeHash

BreakBeforeBraces: Allman
PointerAlignment: Left

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

FixNamespaceComments: false
